[Desktop Entry]
Categories=;
Comment=ZyX Website
Encoding=UTF-8
Exec=firefox -remote "openURL(http://filteredperception.org/smiley/projects/zyx,new-window)"
Hidden=false
Icon=/etc/zyx/kablui-mainmenu-icon.png
Icon[en_US]=/etc/zyx/kablui-mainmenu-icon.png
Name=ZyX Website
Name[en_US]=ZyX Website
Terminal=false
Type=Application
Version=1.0
Comment[en_US]=ZyX Website
