[Desktop Entry]
Categories=;
Comment=ZyX Documentation
Encoding=UTF-8
Exec=firefox -remote "openURL(file:///usr/share/F-ZyX/doc/relnotes/relnotes.html,new-window)"
Hidden=false
Icon=/etc/zyx/kablui-mainmenu-icon.png
Icon[en_US]=/etc/zyx/kablui-mainmenu-icon.png
Name=Documentation
Name[en_US]=ZyX Documentation
Terminal=false
Type=Application
Version=1.0
Comment[en_US]=ZyX Documentation
