[Desktop Entry]
Categories=;
Comment=ZyX Release Notes
Encoding=UTF-8
Exec=firefox -remote "openURL(file:///etc/zyx/relnotes.html,new-window)"
Hidden=false
Icon=/etc/zyx/kablui-mainmenu-icon.png
Icon[en_US]=/etc/zyx/kablui-mainmenu-icon.png
Name=ZyX Release Notes
Name[en_US]=ZyX Release Notes
Terminal=false
Type=Application
Version=1.0
Comment[en_US]=ZyX Release Notes
