#############################################################################
#
# qfakeroot.config: qfakeroot config to support the zyx transmogrifier
#
#############################################################################
#
# Copyright 2007-2010 Douglas McClendon <dmc AT filteredperception DOT org>
#
#############################################################################
#
# This file is part of VirOS.
#
#    VirOS is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, version 3 of the License.
#
#    VirOS is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with VirOS.  If not, see <http://www.gnu.org/licenses/>.
#
#############################################################################

add_files bindir:/input/bin:755
add_files bindir:/input/sbin:755
add_files bindir:/input/usr/sbin:755

add_files /sbin/mkfs.ext3:/input/sbin/
add_files /sbin/mkfs.ext4:/input/sbin/
add_files /bin/df:/input/bin/
add_files /sbin/mksquashfs:/input/sbin/
add_files /sbin/restorecon:/input/sbin/
add_files /usr/sbin/prelink:/input/sbin/
add_files /sbin/load_policy:/input/sbin/
add_files /bin/tar:/input/bin/
add_files /usr/bin/rsync:/input/bin/
add_files /usr/bin/tail:/input/bin/
add_files /usr/bin/which:/input/bin/
add_files /usr/bin/head:/input/bin/
add_files /usr/bin/tr:/input/bin/
add_files /bin/sort:/input/bin/
add_files /bin/sed:/input/bin/
add_files /usr/bin/env:/input/bin/
add_files /usr/bin/top:/bin/
add_files /usr/bin/du:/input/bin/
add_files /bin/sleep:/input/bin/
add_files /bin/sync:/input/bin/
add_files /usr/bin/mkisofs:/input/bin/
add_files /usr/bin/checkisomd5:/input/bin/checkisomd5:755
add_files /usr/bin/implantisomd5:/input/bin/implantisomd5:755
add_files /usr/share/grub/i386-redhat/stage2_eltorito:/input/usr/share/grub/i386-redhat/
add_files /usr/share/syslinux/isolinux.bin:/input/usr/lib/syslinux/
add_files /usr/share/syslinux/vesamenu.c32:/input/usr/lib/syslinux/
add_files /boot/memtest86+-4.00:/input/boot/memtest.86

# smirfgen and dependencies
add_nonvsi_files scripts/smirfgen:/input/smirfgen/usr/bin/smirfgen
add_nonvsi_files scripts/libvsys.sh:/input/smirfgen/usr/lib/viros/scripts/
add_nonvsi_files scripts/vdefs:/input/smirfgen/usr/lib/viros/scripts/
add_nonvsi_files scripts/libvopt.sh:/input/smirfgen/usr/lib/viros/scripts/
add_nonvsi_files scripts/vcommon:/input/smirfgen/usr/lib/viros/scripts/
add_nonvsi_files scripts/functions:/input/smirfgen/usr/lib/viros/scripts/
add_nonvsi_files ZyX-Live-OS:/input/smirfgen/usr/lib/viros/
