
[Desktop Entry]
Name=Rebootlessly Install to Hard Drive
GenericName=Install
Comment=Rebootlessly install the ZyX LiveOS to your hard disk
Categories=System;Utility;X-Red-Hat-Base;X-Fedora;GNOME;GTK;
Exec=/usr/bin/zrliveinst
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/zrliveinst.png
Encoding=UTF-8
StartupNotify=true
NoDisplay=true
X-Desktop-File-Install-Version=0.13
