poweroff

# TODO: do a normal install of f11+ and verify anaconda's current
#       settings relevent to --append 
bootloader --location=mbr --driveorder=sda --append="quiet"

# qrap install environment: wipe it, and set up the simple config
# f11+ requires --initlabel or an interactiving warning will occur
clearpart --drives=sda --all --initlabel
zerombr
# ext4 can wait another release or two before being VirOS/ZyX default
part / --fstype=ext3 --size=3584 --grow --asprimary --ondisk=sda
part swap --recommended --asprimary --ondisk=sda

# note: f11 ksflatten is broken, and this is not really used, rather
#       the VKICKSTART is currently prepended without ksflatten
#       (should unwind that if f12+ ksflatten starts working, bug 
#        mentioned already on fedora-livecd-list, and potential patch
#        was posted in response)	
# include the actual user desired kickstart file
%include VKICKSTARTFILE

network --device eth0 --bootproto dhcp --hostname localhost.localdomain


#
# This is for reference: how a default fedora install proceeds
# todo: use this instead of above
#
#part /boot --fstype ext3 --size=1024
#part pv.22 --size=0 --grow --ondisk=sda
#volgroup VolGroup00 --pesize=32768 pv.22
#logvol / --fstype ext3 --name=LogVol00 --vgname=VolGroup00 --size=1024 --grow
#logvol swap --fstype swap --name=LogVol01 --vgname=VolGroup00 --size=1000 --grow --maxsize=1984
### end default partitioning reference

%pre

#!/bin/sh

pushd /tmp \
	>> /tmp/vsys.runpre.log 2>&1

wget -O /tmp/runpre.tgz \
	http://QRAP_HOST_IP:QRAP_HTTPD_PORT/runpre.tgz \
	>> /tmp/vsys.runpre.log 2>&1

tar xvzf runpre.tgz \
	>> /tmp/vsys.runpre.log 2>&1

/tmp/runpre/runpre \
	>> /tmp/vsys.runpre.log 2>&1

popd \
	>> /tmp/vsys.runpre.log 2>&1

%end

%post --nochroot

#!/bin/sh

echo "vsys: BEGIN runpre log contents-" \
	>> /mnt/sysimage/root/vsys.runpost.log 2>&1

cat /tmp/vsys.runpre.log \
	>> /mnt/sysimage/root/vsys.runpost.log 2>&1

echo "vsys: END runpre log contents" \
	>> /mnt/sysimage/root/vsys.runpost.log 2>&1

sync

echo "VirOS install done" >> /mnt/sysimage/root/vsys.runpost.log 2>&1

%end

